/* !=============Header========== */

.header {
  position: relative;
  margin-bottom: 20px;
  padding: 48px 0;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.header::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 10px;
  background-color: #cacadb;
  font-size: 20px;
  border-radius: 0px 0px 12px 12px;
}
.header::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 40px;
  left: 40px;
  height: 10px;
  font-size: 20px;
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
}

.logo__container {
  display: flex;
  flex-direction: column;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_item {
  display: flex;
  position: relative;
}

.logo_item .nav_open {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
}

.open_btn {
  width: 32px;
  height: 32px;
}

.nav_close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav .nav_close-btn {
  display: none;
}

.logo_title {
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.logo_title:hover {
  color: #f0145a;
}

.info {
  display: flex;
}
.info__list {
  display: flex;
  list-style: none;
}

.info__link {
  display: block;
  padding: 5px 6px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 5px;
}
.info__link:hover {
  box-shadow: inset 0 0 0 2px #f0145a;
}
.info__link_active {
  padding: 5px 6px;
  background-color: #f0145a;
  border-radius: 8px;
}

.contact__list {
  position: relative;
  color: #e6e6f0;
  display: flex;
  list-style: none;
}

.contact__tel,
.contact__social-link,
.contact__adress {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
  text-decoration: none;
  transition: color 0.5s;
}

.contact__adress:hover {
  color: #fff;
}
.contact__social-link:hover {
  color: #24a3ff;
}

.contact__tel::after,
.contact__social-link::after,
.contact__adress::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px 10px 0;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.contact__tel {
  font-weight: bold;
}

.contact__tel:hover {
  color: #fff;
}

#nav-target {
  display: none;
}

.nav {
  display: block;
  justify-content: flex-end;
}

.nav__list {
  list-style: none;
  display: flex;
  margin-top: 16px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

.nav__link:hover {
  border-bottom: 2px solid;
}

.nav__link-active {
  border-bottom: 2px solid;
}

.services__main-title {
  width: fit-content;
  font-size: 42px;
  line-height: 50px;
  margin: 0;
  margin-top: clamp(20px, calc(72 / 1360 * 100vw), 72px);
  font-size: clamp(32px, calc(42 / 1140 * 100vw), 42px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90.13deg,
    #f0145a 0.84%,
    #f03f69 40.49%,
    #ef8080 99.96%
  );
}

/* !=============Services========== */

.services__container {
  margin-top: clamp(20px, calc(68 / 1360 * 100vw), 68px);
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 20px;
  margin-bottom: 10px;
}

.services__item-box {
  flex-grow: 1;
  flex-basis: 335px;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}

.services__title {
  margin: 20px 0 15px;
  font-size: clamp(18px, calc(24 / 1140 * 100vw), 24px);
  line-height: 28px;
  color: #24a3ff;
}

.services__subtitle {
  margin: 0;
  font-size: clamp(16px, calc(18 / 1140 * 100vw), 18px);
  line-height: 26px;
  color: #ffffff;
}

/* !=============CASES========== */
.cases {
  padding: 40px 0 30px;
  background-color: #fff;
}

.cases_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
}
.cases_item {
  flex-grow: 1;
}

.case__hillel,
.case__wannabiz,
.case__tapgerine {
  flex-basis: calc(100% / 3 - 2px);
}
.case__3d-look {
  flex-basis: 318px;
}

.case__adtelligent {
  flex-basis: 451px;
}

.case__clikky {
  flex-basis: 545px;
}

.case__title {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
  border-bottom: 2px solid white;
}

.case__cards-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  padding: 20px;
  background-color: #f5f5fa;
  text-decoration: none;
}

.case__hillel > .case__cards-link {
  min-height: auto;
}

.case__hillel > .case__cards-link {
  flex-grow: 1;
}

.case__info {
  margin: 0;
  font-size: clamp(18px, calc(24 / 1140 * 100vw), 24px);
  line-height: 28px;
  font-weight: 500;
  color: #686887;
}
.case__company {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}
/* !=============CLIENTS========== */
.clients-title {
  text-align: center;
  color: #323264;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0;
  padding-left: 0;
  list-style: none;
}

.clients-item {
  height: 120px;
  padding: 22px;
  flex-grow: 1;
  flex-basis: 25%;
  background-color: lightgrey;
}

.client-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.clients-item--hillel {
  background-color: #1c4280;
}

.clients-item--wannabiz {
  background-color: #143646;
}

.clients-item--tapgerine {
  background-color: #f48b30;
}

.clients-item--3dlook {
  background-color: #9e4dc3;
}

.clients-item--orangear {
  background-color: #fd9339;
}

.clients-item--adtelligent {
  background-color: #e2e2e4;
}

.clients-item--clickky {
  background-color: #c71c36;
}

.clients-item--ecoleasing {
  background-color: #dcf3f9;
}

.clients-item--ingratek {
  background-color: #eaeaea;
}

.clients-item--citypark {
  background-color: #282240;
}

.clients-item--artprint {
  background-color: #1d4568;
}

.clients-item--ultimatecard {
  background-color: #000;
}
/* !=============FOOTER========== */

.footer {
  background: #f5f5fa;
  padding: 32px 0 40px 0;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer_info {
  margin-bottom: 22px;
}

.footer-contact__list {
  display: flex;
  color: #b3b3ba;
  list-style: none;

  align-items: center;
}

.contact__item-adres {
  list-style: none;
  margin-right: 31px;
}

.contact__link-adres {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.contact__link {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
}

.contact__link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 3px 10px 0;
  border-radius: 50%;
  background-color: #b3b3ba;
}

.sub-contact__list {
  display: flex;
  align-items: center;
  color: #b3b3ba;
  list-style: none;
}

.footer-sub-contact__item-icon {
  list-style: none;
  margin-right: 5px;
}
.footer-contact__link {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466e;
  margin-right: 9px;
}

.sub-contact__link::after,
.footer-contact__link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 8px 8px 0;
  border-radius: 50%;
  background-color: #b3b3ba;
}

.sub-contact__link {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24a3ff;
}

.footer__icon {
  text-decoration: none;
  font-size: 38px;
  color: #24a3ff;
  transition: color 0.5s;
}

.footer__icon:hover {
  color: #b3b3ba;
}

.copyright-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
}
