@media screen and (max-width: 768px) {
  /* !==================HEADER================ */
  .header__menu {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 10px;
  }

  .logo_item {
    padding: 10px 0;
  }

  .logo_item .nav_open {
    display: block;
  }

  .info {
    justify-content: space-between;
  }

  .contact__social-link,
  .contact__adress,
  .contact__tel::after,
  .contact__social-link::after,
  .contact__adress::after {
    display: none;
  }

  .contact__tel {
    color: #fff;
  }

  .nav__link,
  .nav__link:hover {
    border-bottom: none;
  }

  .nav {
    display: flex;
    max-height: 100%;
    overflow-y: auto;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    gap: 11px;
    margin-top: 0;
    padding: 64px 20px 20px;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: #fff;
    transition: transform 0.5s ease-out, box-shadow 0.5s;
  }

  #nav-target:checked + .nav {
    transform: translateY(-100%);
    box-shadow: 0 0 0 8000px rgba(0, 0, 0, 0.8);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .nav__item {
    padding: 8px;
    background: #f5f5fa;
    border-radius: 12px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 28px;
    color: #24a3ff;
  }

  .nav__link:hover {
    color: #f0145a;
  }

  .nav .nav_close-btn {
    display: block;
  }
  /* !==================SERVICES================ */

  .card__header {
    flex-direction: row;
    align-items: center;
  }
  .icon {
    width: 64px;
    height: 64px;
    border-radius: 18px;
    padding: 10px;
  }
  /* !==================CASES================ */
  .cases_box {
    flex-direction: column;
  }

  .case__3d-look,
  .case__adtelligent,
  .case__clikky {
    max-height: 140px;
  }

  .case__info {
    font-size: 18px;
    line-height: 21px;
  }

  /* !==================CALIENTS================ */
  .card__flex {
    min-width: 50%;
    min-height: 120px;
    order: 1;
  }

  .clients_card-7 {
    order: 2;
  }

  .clients_card-12,
  .clients_card-9,
  .clients_card-5 {
    order: 3;
  }
  .clients_card-11 {
    order: 4;
  }

  .clients_card-10 {
    order: 9;
  }

  .clients_card-6 {
    order: 10;
  }

  /* !===============FOOTER=================== */
  .contact__link::after,
  .sub-contact__link::after,
  .footer-contact__link::after {
    display: none;
  }
  .footer-box .footer-contact__list {
    flex-direction: column;
    margin: 0px;
  }

  .contact__item-adres {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .contact__link-adres {
    font-weight: bold;
  }

  .footer-sub-contact__item-icon {
    margin: 0 0 20px 0;
  }

  .footer-contact__link {
    margin: 0 0 20px 0;
  }

  .footer-box {
    flex-direction: column;
    align-items: center;
  }
  .sub-contact__list {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .copyright-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
