* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms";
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  min-height: 1040px;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.logo__container {
  display: flex;
  flex-direction: column;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 55px 60px 0 60px;
}

.logo_item {
  display: flex;
}

.logo_title {
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;
}

.contact_nav {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
}
.info__list {
  display: flex;
  list-style: none;
}

.info__link {
  margin: 0 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.info__link_active {
  padding: 5px 6px;
  background-color: #f0145a;
  border-radius: 8px;
}

.contact__list {
  color: #e6e6f0;
  display: flex;
}
.contact__item {
  margin: 0 15px;
}
.contact__link {
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
  text-decoration: none;
}

.contact__item:nth-child(2) {
  font-weight: bold;
}

.nav {
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 16px 60px 0 0;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0 15px;
}

.nav__link:hover {
  border-bottom: 2px solid;
}

.services__main-title {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 5px 4px rgb(0, 0, 0, 0.6));
  font-size: 42px;
  line-height: 50px;
  margin: 73px 0 68px 60px;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.services__item-box {
  max-width: 413px;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}

.services__title {
  margin: 20px 0 15px;
  font-size: 24px;
  line-height: 28px;
  color: #24a3ff;
}

.services__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.shadows_1 {
  position: absolute;
  bottom: -10px;
  right: 25px;
  width: 1210px;
  height: 10px;
  background-color: #cacadb;
  border-radius: 0px 0px 12px 12px;
}

.shadows_2 {
  position: absolute;
  bottom: -20px;
  right: 45px;
  width: 1170px;
  height: 10px;
  background-color: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
}

.cases_section {
  height: 523px;
  margin-top: 40px;
}
.container {
}
.cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f5f5fa;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 12px 12px 12px 12px;
}
.case__item-box {
  max-width: 400px;
  border: 1px solid #ffffff;
}
.case__item-hillel {
}
.case__item-wb {
}
.case__item-tr {
}
.case__item-3d {
}
.case__item-at {
}
.case__item-ck {
}

.cese_main_title {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f0145a;
}
.case__title {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
}
.case__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}

.clients-section {
  justify-content: center;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__title {
  text-align: center;
  margin: 30px 0 30px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.clients__title {
}
.clients_card {
}

.card__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients_card-1 {
  background: #1c4280;
  width: 360px;
  height: 120px;
  padding: 25;
}
.clients_card-2 {
  background: #143646;
  width: 360px;
  height: 120px;
}
.clients_card-3 {
  background: #f48b30;
  width: 360px;
  height: 120px;
}
.clients_card-4 {
  background: #9e4dc3;
  width: 360px;
  height: 120px;
}
.clients_card-5 {
  background: #fd9339;
  width: 360px;
  height: 120px;
}
.clients_card-6 {
  background: #e2e2e4;
  width: 360px;
  height: 120px;
}
.clients_card-7 {
  background: #c71c36;
  width: 360px;
  height: 120px;
}
.clients_card-8 {
  background: #dcf3f9;
  width: 360px;
  height: 120px;
}
.clients_card-9 {
  background: #eaeaea;
  width: 360px;
  height: 120px;
}
.clients_card-10 {
  background: #282240;
  width: 360px;
  height: 120px;
}
.clients_card-11 {
  background: #1c4280;
  width: 360px;
  height: 120px;
}
.clients_card-12 {
  background: #000000;
  width: 360px;
  height: 120px;
}

.footer {
  height: 151px;
  background: #f5f5fa;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 0 60px;
}

.footer_info {
  margin-bottom: 22px;
}

.footer-contact__list {
  display: flex;
  color: #b3b3ba;
  margin-left: 20px;
}

.contact__item-adres {
  list-style: none;
  margin-right: 30px;
}

.contact__link-adres {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.contact__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #24a3ff;
}

.sub-contact__list {
  display: flex;
  align-items: center;
  color: #b3b3ba;
}

.sub-contact__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24a3ff;
}

.footer-sub-contact__item {
  margin: 0 15px;
}
.footer-sub-contact__item-icon {
  list-style: none;
  margin: 0 15px;
}
.footer-contact__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466e;
}

.footer__icon {
  text-decoration: none;
  font-size: 38px;
  color: #24a3ff;
}

.copyright-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #b3b3ba;
  margin-right: 60px;
}
