* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "TT Norms";
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  padding: 0;
  margin: 0;
}

/* !=============Header========== */

.header {
  position: relative;
  margin-bottom: 20px;
  padding: 48px 0;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.header::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  height: 10px;
  background-color: #cacadb;
  font-size: 20px;
  border-radius: 0px 0px 12px 12px;
}
.header::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  right: 40px;
  left: 40px;
  height: 10px;
  font-size: 20px;
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
}

.logo__container {
  display: flex;
  flex-direction: column;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_item {
  display: flex;
}

.logo_title {
  font-size: 38px;
  line-height: 45px;
  color: #ffffff;
  text-decoration: none;
}

.logo_title:hover {
  color: #f0145a;
}

.info {
  display: flex;
}
.info__list {
  display: flex;
  list-style: none;
}

.info__link {
  display: block;
  padding: 5px 6px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 5px;
}
.info__link:hover {
  box-shadow: inset 0 0 0 2px #f0145a;
}
.info__link_active {
  padding: 5px 6px;
  background-color: #f0145a;
  border-radius: 8px;
}

.contact__list {
  position: relative;
  color: #e6e6f0;
  display: flex;
  list-style: none;
}

.contact__tel,
.contact__social-link,
.contact__adress {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
  text-decoration: none;
}

.contact__tel::after,
.contact__social-link::after,
.contact__adress::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px 10px 0;
  border-radius: 50%;
  background-color: #e6e6f0;
}

.contact__tel {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  list-style: none;
  display: flex;
  margin-top: 16px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

.nav__link:hover {
  border-bottom: 2px solid;
}

.nav__link-active {
  border-bottom: 2px solid;
}

.services__main-title {
  background-image: linear-gradient(
    90.13deg,
    #f0145a 0.84%,
    #f03f69 40.49%,
    #ef8080 99.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  line-height: 50px;
  margin: 73px 0 68px;
}

/* !=============Services========== */

.services__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
}

.services__item-box {
  flex-grow: 1;
  flex-basis: 335px;
}

.icon {
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}

.services__title {
  margin: 20px 0 15px;
  font-size: 24px;
  line-height: 28px;
  color: #24a3ff;
}

.services__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

/* !=============CASES========== */
.cases {
  padding: 40px 0 30px;
  background-color: #fff;
}

.cases_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
}
.cases_item {
  flex-grow: 1;
}

.case__hillel,
.case__wannabiz,
.case__tapgerine {
  flex-basis: calc(100% / 3 - 2px);
}
.case__3d-look {
  flex-basis: 318px;
}

.case__adtelligent {
  flex-basis: 451px;
}

.case__clikky {
  flex-basis: 545px;
}

.case__title {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f0145a;
  border-bottom: 2px solid white;
}

.case__cards-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  padding: 20px;
  background-color: #f5f5fa;
  text-decoration: none;
}

.case__hillel > .case__cards-link {
  min-height: auto;
}

.case__hillel > .case__cards-link {
  flex-grow: 1;
}

.case__info {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #686887;
}
.case__company {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}
/* !=============CLIENTS========== */

.clients-section {
  justify-content: center;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.clients__title {
  text-align: center;
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.card__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  min-height: 120px;
}

.clients_card-1 {
  background: #1c4280;
}
.clients_card-2 {
  background: #143646;
}
.clients_card-3 {
  background: #f48b30;
}
.clients_card-4 {
  background: #9e4dc3;
}
.clients_card-5 {
  background: #fd9339;
}
.clients_card-6 {
  background: #e2e2e4;
}
.clients_card-7 {
  background: #c71c36;
}
.clients_card-8 {
  background: #dcf3f9;
}
.clients_card-9 {
  background: #eaeaea;
}
.clients_card-10 {
  background: #282240;
}
.clients_card-11 {
  background: #1c4280;
}
.clients_card-12 {
  background: #000000;
}

/* !=============FOOTER========== */

.footer {
  height: 151px;
  background: #f5f5fa;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 0;
}

.footer_info {
  margin-bottom: 22px;
}

.footer-contact__list {
  display: flex;
  color: #b3b3ba;
  list-style: none;

  align-items: center;
}

.contact__item-adres {
  list-style: none;
  margin-right: 31px;
}

.contact__link-adres {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.contact__link {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #24a3ff;
  text-decoration: none;
}

.contact__link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 3px 10px 0;
  border-radius: 50%;
  background-color: #b3b3ba;
}

.sub-contact__list {
  display: flex;
  align-items: center;
  color: #b3b3ba;
  list-style: none;
}

.footer-sub-contact__item-icon {
  list-style: none;
  margin-right: 5px;
}
.footer-contact__link {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466e;
  margin-right: 9px;
}

.sub-contact__link::after,
.footer-contact__link::after {
  content: "";
  order: -1;
  display: block;
  width: 6px;
  height: 6px;
  margin: 8px 8px 0;
  border-radius: 50%;
  background-color: #b3b3ba;
}

.sub-contact__link {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24a3ff;
}

.footer__icon {
  text-decoration: none;
  font-size: 38px;
  color: #24a3ff;
}

.copyright-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3ba;
}
